{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block body %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-9">

            <h1 class='text-center fw-bold my-5'> Login 페이지 </h1>
            <form action="" method='POST'>
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="d-grid my-5">
                    <input type="submit" value="로그인" class="btn btn-outline-dark">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}